<footer class="container-fluid py-5 bg-dark">
    <div class="container">
	<p class="m-0 text-center text-white">Copyright &copy;2023 Cuillère Africaine <i>made with &hearts; by NYC</i></p>
	</div>
</footer>